.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
    height: 44px;
    margin-bottom: 16px;
	background: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	color: gray;
	border-radius: 50%;
	cursor: pointer;
}